<div class="main-content">
    <article>
        <p class="title">About Our Community</p>

        <p class="content">
            Brandeis University has a vibrant community of students and alumni who are committed to making a positive impact on the world. As one of the premier liberal arts and research universities in the United States, Brandeis attracts talented and diverse students from all over the globe. The university's rigorous academic programs and innovative research initiatives prepare students to become leaders in their fields and to tackle some of the most pressing challenges of our time.
        </p>
        <p class="content">
          Brandies University's alumni network is equally impressive, with graduates who have gone on to make significant contributions in a wide range of fields, including business, law, medicine, politics, and the arts. Brandeis alumni are known for their dedication to social justice, their commitment to community service, and their passion for making a difference in the world.
        </p>
        <p class="content">
          Whether you are a current student or an alumnus, being a part of the Brandeis community means being part of a dynamic and engaged group of individuals who are working together to make a positive impact in the world.
        </p>
    </article>
</div>
<div class="side">
    <img src="https://tcglivenew.s3.amazonaws.com/images/school/8e2303bc-e1d7-4c63-bebc-28f5d2ffb66c.jpg" 
    width='130%' height='auto' alt="bran alum">
</div>