<h2 class="welcome">Brandeis SAA</h2>
<h3 class="proud">Welcome to Brandeis Alumni Family</h3>
<div class="data-form-container">
    <section class="row">
      <article class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Whether you’re just starting out or changing careers after decades, whether you’d like to hire a Brandeis student or offer career guidance, we’re here to help. Reach out to one of our four career centers to find resources, volunteer, make an appointment and more.</p>
            </div>
        </div>
      </article>
        <article class="col-lg-6 col-md-10 text-center">
            <img src="/image/tip.jpg" alt="Brandeis Tip" class="img-fluid my-custom-img"/>
        </article>
    </section>
</div>
