<body>
    <div class="container">
        <% if (currentUser) { %>
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <h1>Chat Room</h1>
              <form id="chatForm">
                <input id="chat-input" type="text" />
                <input id="chat-user-name" type="hidden" value="<%= currentUser.name %>" />
                <input id="chat-user-id" type="hidden" value="<%= currentUser._id %>" />
                <input type="submit" value="Send" />
              </form>
              <div id="chat"></div>
            </div>
            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="/js/chat.js"></script>
          </div>
        <% } else { %>
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <h2>You should log in to access chat function.</h2>
            </div>
          </div>
        <% } %>
    </div>
</body>