<div class="main-content">
    <article>
        <p class="title">Contact Information</p>

        <p class="content">
          <li><b>Email:</b>&nbsp;&nbsp;alumni@brandeis.edu</li>
          <li><b>TEL:</b>&nbsp;&nbsp;+1 (781) 736-2000</li>
          <li><b>Address:</b>&nbsp;&nbsp;415 South St, Waltham, MA 02453, USA</li>
        </p>
        <p>
            You can also visit our website for more information and contact options:&nbsp;
            <a href="https://alumni.brandeis.edu/"><u>link</u></a>
        </p>
        <p>
            If you are a student or alumni of Brandeis University, we encourage you to join our community, attend our events, and connect with other alumni. We look forward to hearing from you!
        </p>
    </article>
</div>
<div class="side">
    <img src="https://kldesign.com/wp-content/webp-express/webp-images/uploads/2018/11/ContactInfo_graphic1200x630-1.png.webp" 
    width='130%' height='auto' alt="contact">
</div>