<h2 class="welcome">Contact Info</h2>
<h3 class="proud">Contact us if you want to join us or cooperate with our business department</h3>
<div class="data-form-container">
    <section class="row" id="intro">
          <p>This is the contact info</p>
          <p><b>Email:</b>&nbsp;&nbsp;alumni@brandeis.edu</p>
          <p><b>TEL:</b>&nbsp;&nbsp;+1 (781) 736-2000</p>
          <p><b>Address:</b>&nbsp;&nbsp;415 South St, Waltham, MA 02453, USA</p>
          <br>
          <input id="input" type="text" />
          <form action="mongodb://127.0.0.1:27017/brandeis_saa" method="post">
            <input type="submit" value="Submit your contact info!" class="btn btn-primary"/>
          </form>
    </section>
    <article class="col-lg-6 col-md-10 text-center">
      <img src="/image/sherman.jpeg" alt="Sherman" class="img-fluid my-custom-img"/>
    </article>
</div>
