<h2 class="welcome">Deis Events</h2>
<h3 class="proud">Take a look at our recent events!</h2>
<div>
  <section class="intro">
    <article>
        <p>This is the events list</p>
    </article>
  </section>
</div>
<script src="/path/to/client.js"></script>