<div class="main-content">
    <article>
        <p class="title">We Are Proud</p>
        <p class="subtitle">Student & Alumni of Brandeis University</p>
        <p class="content">
          The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other. 
        </p>
        <p class="content">
             Our pride in Brandeis is rooted in the university's founding principles of academic excellence, intellectual curiosity, and commitment to social justice. Through our events, programs, and partnerships, the SAA supports the next generation of changemakers and fosters lifelong connections among alumni.
        </p>
        <p class="content">
            Our events and programs are designed to inspire, educate, and empower. From networking and professional development opportunities to social events and cultural activities, there is something for everyone in the SAA community. We also collaborate with student groups, academic departments, and community organizations to create meaningful partnerships and drive positive change in the world.

As proud students and alumni of Brandeis University, we are committed to upholding the university's values and traditions. We believe in the power of education to transform lives and make a difference in the world. We invite you to join us in this mission and become part of the vibrant and dynamic Brandeis community.
        </p>
        
    </article>
</div>
<div class="side">
    <div class="card">
        <div class="card-header">
          <h5 class="title">Join us as a member</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Join our community of users and unlock exclusive features and content!</p>
          <!-- <a href="users/new" class="btn btn-primary btn-lg" style="background-color: #0D47A1;">Register</a> -->
          <a href="/users/" class="btn btn-primary btn-lg" style="background-color: #0D47A1;">Current members</a>
        </div>
      </div>
      <br>
    <img src="https://alumni.brandeis.edu/giving/recognition/images/students-toss-caps-960.jpg" 
    width='130%' height='auto' alt="bran alum">
</div>