<h2 class="welcome">WE ARE PROUD</h2>
<h3 class="proud">Students & Alumni Association of Brandeis University</h2>
<div>
  <section class="intro">
    <article>
        <p>The Brandeis Students and Alumni Assosiation is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.</p>
    </article>
  </section>
  <section class="intro">
    <article>
        <p>Alumni and affiliates of the university include former first lady of the United States Eleanor Roosevelt, Nobel Prize laureate Roderick MacKinnon and Fields Medalist Edward Witten, as well as foreign heads of state, congressmen, governors, diplomats, and recipients of the Nobel Prize, Pulitzer Prize, Academy Award, Emmy Award, and MacArthur Fellowship. </p>
    </article>
  </section>
  <section class="pic">
    <article>
        <img src="image/pic.jpg" width = 400px alt="Brandeis"/>
    </article>
  </section>
</div>