<h2 class="welcome">Job Forum</h2>
<h3 class="proud">Search your dream job with our alumni!</h2>
<div>
  <section class="intro">
    <article>
        <p>This is the jobs list</p>
    </article>
  </section>
</div>