<h2 class="welcome">Sign in</h2>
<div class="data-form-container">
  <div class="data-form">
    <br>
    <form action="/users/login" method="POST">
      <div>
        <label for="email">Email:<br></label>
        <input type="email" name="email" id="email" required>
      </div>
      <div>
        <label for="password">Password:<br></label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="button-wrapper">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
