
<form class='login-form' action="/users/authenticate" method="POST">
    <h2>Log in:</h2>
    <label for="inputEmail">Email address</label>
    <br>
    <input
        type="email"
        name="email"
        id="inputEmail"
        placeholder="your @brandeis.edu"
        required
    />
    <br>
    <label for="inputPassword">your password</label>
    <br>
    <input
        type="password"
        name="password"
        id="inputPassword"
        placeholder="Password"
        required
    />
    <br>
    <button type="submit">Login</button>

</form>
    


